<ion-view align-title="center" view-title="{{'travel: title' | i18n}}">
    <!--WP HACK-->   
    <!--<ion-nav-bar align-title="center" class="bar-energized bar bar-header">
        <ion-nav-back-button class="button-icon ion-arrow-left-c header-item">
        </ion-nav-back-button>
    </ion-nav-bar>-->  
    <ion-content padding="15" scroll="false">
        <h4 style="font-style: italic">{{Label}}</h4>
        <div class="row">
            <div class="col col-header">{{'travel: column: start time' | i18n}}</div>
            <div class="col col-header">{{'travel: column: end time' | i18n}}</div>
            <div class="col-33 col-header">{{'travel: column: start station' | i18n}}</div>
            <div class="col col-header">{{'travel: column: changing' | i18n}}</div>
            <div class="col col-header">{{'travel: column: total duration' | i18n}}</div>
        </div>
        <ion-scroll max-height="">
            <!-- TODO: Implement the list with the connection -->
        </ion-scroll>
    </ion-content>
</ion-view>