<ion-view clear-history align-title="center" view-title="{{'home: label: bring me home' | i18n}}">
    <!--WP HACK-->
    <!--<ion-nav-bar align-title="center" class="bar-energized bar bar-header">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content class="main-background" padding="15" scroll="false">
        <div style="height: 200px">

        </div>
        <div class="pie-button-menu" pie-menu></div>
        <div style="height: 100px">

        </div>
        <span id="start-button" class="button button-block button-positive"
              ng-click="Start()" autofocus>
            {{'home: label: lets go' | i18n}}
        </span>
    </ion-content>
</ion-view>