<ion-view view-title="{{'travel-details: title' | i18n}}">
    <!--WP Hack -->
    <!--<ion-nav-bar align-title="center" class="bar-energized bar bar-header">
        <ion-nav-back-button class="button-icon ion-arrow-left-c header-item">
        </ion-nav-back-button>
    </ion-nav-bar>-->
    <ion-content padding="15" scroll="false">
        <div class="row">
            <div class="col col-header">{{'travel: column: start time' | i18n}}</div>
            <div class="col col-header">{{'travel: column: end time' | i18n}}</div>
            <div class="col-33 col-header">{{'travel: column: start station' | i18n}}</div>
            <div class="col col-header" style="text-align: center">{{'travel: column: changing' | i18n}}</div>
            <div class="col col-header">{{'travel: column: total duration' | i18n}}</div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col">{{Route.StartTime | date:'HH:mm'}}</div>
            <div class="col">{{Route.EndTime | date:'HH:mm'}}</div>
            <div class="col-33" style="white-space: normal">{{Route.StartStation}}</div>
            <div class="col" style="text-align: center">{{Route.Changing}}</div>
            <div class="col">{{Route.Duration | duration}}</div>
        </div>
        <div class="row">
            <div class="col col-header">{{'travel-details: column: time' | i18n}}</div>
            <!--<div class="col col-header">{{'travel-details: column: journey' | i18n}}</div>-->
            <div class="col-33 col-header">{{'travel-details: column: travel with' | i18n}}</div>
            <div class="col-10 col-header">{{'travel-details: column: platform' | i18n}}</div>
            <div class="col col-header">{{'travel-details: column: remarks' | i18n}}</div>
        </div>
        <ion-scroll max-height="">
            <ion-list>
                <!-- TODO: complete missing functionality -->
                <ion-item class="item custom-item">
                    <div class="small-text"> {{'travel-details: row: leg' | i18n}}{{section.SequencePosition}}</div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <span class="small-text">{{'travel-details: row: departure'|i18n}}</span>
                                Abfahrt
                            </div>
                            <div class="col">
                                <span class="small-text">{{'travel-details: row: arrival'|i18n}}</span>
                                Ankunft
                            </div>
                        </div>
                        <div class="col-33">
                            <div class="col long-col">{{section.From}}</div>
                            <div class="col long-col">{{section.To}}</div>
                            <div class="col long-col">{{section.TravelWith}}</div>
                        </div>
                        <div class="col-10 number-col">Gleis?</div>
                        <div class="col long-col">
                            <span ng-show="section.Direction !== null">{{'travel-details: row: open direction' | i18n}}</span>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>